body{
    font-family: 'montserrat', sans-serif; 
}

.navbar{
    
}

.navbar-brand{
    font-size: 30;
}

.header-content-center{
    
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;*/
}

.background-profile{
    box-shadow: -1px 15px lightgray;
    display: flex;
    justify-content: center;
    border-top: groove white;
    justify-content: center;
    height: 500px;
    width: auto;
    /*background-image: url("img/wp5187908-4k-black-wallpapers");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

.profile_image{    
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    height: 500px;
    width: 500px;
}

/*SECC MULTIMEDIA*/
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-sm-4{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    height: auto;
    width: 30%;
    
}

.card{
    padding: 30px 10px;
    margin: 30px;
    font-size: 15px;
    text-align: center;
    height: auto;
    width: 100%;
    
}

.sombra{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    
}

.video{
    padding: 0px;
}

.card-body{
    /*display: flex;*/
    flex-direction: row;
    justify-content: center

    /*bottom: 30;
    right: 30;
    width: 300px;*/
}

.bullets{
    font-size: 20px;
}

.objetivo{
    padding: auto;
    font-weight: 600;
    font-size: 22px;
}

.container-fluid{
    padding: auto;
}

.h2{
    padding: auto;
    font-weight: 600;
    font-size: 22px;
}

.imagen-fondo{
    width: 100%;
}

.h1{
    font-size: 25px;
}

foto{
    width: 100%;
  height: auto;
}