body{
    font-family: 'Montserrat', sans-serif; 
}

.navbar{
    
}

.navbar-brand{
    font-size: 30;
    justify-content: center;
}

.header-content-center{
    box-shadow: -1px 15px lightgray;
    display: flex;
    justify-content: center;
    border-top: groove white;
    /*position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;*/
}

.background-profile{
    /*position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;*/
    height: 500px;
    width: 500px;
    background-image: url("img/wp5187908-4k-black-wallpapers.jpg");
    background-size: contain;
}

.profile_image{
    
    position: absolute;
    border-radius: 50%;
    justify-content: center;
    height: 500px;
    width: 500px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    text-align: center;
}

.column{
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    height: auto;
    width: 30%;
    
}

.card{
    padding: 30px 10px;
    margin: 30px;
    font-size: 15px;
    text-align: center;
    height: auto;
    width: 100%;
    
}

.sombra{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    /*font-size:larger;*/
}

/*.video{
    font-size: 50px;
   
}*/

.card-body{
    display: flex;
    flex-direction: row;
    justify-content: center

    /*bottom: 30;
    right: 30;
    width: 300px;*/
}



.objetivo{
    padding: auto;
    font-weight: 600;
    font-size: 22px;
}

.container-fluid{
    padding: auto;
}

.h2{
    padding: auto;
    font-weight: 600;
    font-size: 22px;
}

.sombra{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagen-fondo{
    width: 100%;
}

.bullets{
    font-size: 20px;
}

.h1{
    font-size: 50px;
}

.sector{
    <i class="fa-solid fa-clapperboard-play"></i>
}